 body {
     margin: 0;
     font-family: 'Roboto', sans-serif;
     line-height: 1.5;
 }
 
 .main-header {
     height: 850px;
     padding-top: 170px;
     background-image: url(http://www.pasedfoundation.org/modules/toc/uploads/images/topics/tid326_app_academy_students_small_cd9a1f78_e036_6568_u1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }
 
 .main-header,
 .title {
     text-align: center;
 }
 
 .title {
     font-size: 1.625em;
     color: white;
     letter-spacing: .065em;
     font-weight: 200;
     border-bottom: 2px solid;
     padding-bottom: 10px;
 }
 
 h1 {
     color: red;
 }
 
 .title {
     color: black;
 }